/* first section */
.activite .article1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.activite .article1 ul {
    box-sizing: border-box;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 5px;

    list-style-type: disc;
    width: 55%;

    padding-left: 17px;
}

.activite .article1 h3 {
    width: 40%;
}

/* color blocks */

.activite .article2 .blue {
    background: var(--blue);
}

.activite .article2 .orange {
    background: var(--orange);
}

.activite .article2 .violet {
    background: var(--violet);
}

.activite .article2 .red {
    background: var(--red);
}

.activite .article2 .green {
    background: var(--green);
}

.activite .article2 .line1 {
    margin-bottom: 34px;
}


.activite .article2 .line1,
.activite .article2 .line2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 34px;
}

.activite .article2 .line1 div,
.activite .article2 .line2 div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;
}

.activite .article2 .line1 div {
    width: 50%;
}

.activite .article2 .line2 div {
    width: 33%;
}


/* section3 */

.activite .article3 > div:not(:first-child) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.activite .article3 > div:not(:first-child) > div:not(.shade) {
    width: 47%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.activite .article3 > div:not(:first-child) > img {
    width: 47%;
    object-fit: cover;
}

.activite .article3 > div:nth-child(2) {
    margin-bottom: 150px;
}

.activite .article3 > div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
}

.activite .article3 > div:last-child > div:last-child {
    gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
}

.activite .article3 > div:last-child > div:last-child img {
    width: calc(50% - 15px);
    object-fit: cover;
}

/* section 4 */

.activite .article4 div:last-child {
    display: flex;
    flex-direction: row;
    gap: 60px;

}

.activite .article4 div:last-child p {
    width: 47%;
}


@media screen and (max-width: 1000px) {
    .activite .article2 .line2 {
        flex-wrap: wrap;
    }


    .activite .article2 .line1, .activite .article2 .line2 {
        gap: 0;
        justify-content: space-between;

    }

    .activite .article2 .line2 div {
        margin-bottom: 40px;
    }

    .activite .article2 .line1 div, .activite .article2 .line2 div {
        width: 47% ;
    }
    .activite .article3 > div:nth-child(2) {
        margin-bottom: 100px;
    }
    .activite .article4 div:last-child {
        gap: 32px;}

}


@media screen and (max-width: 850px) {

    .activite .article1{
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .activite .article1 h3{
        width: 60%;
    }
    .activite .article1 ul{
        width: 100%;
    }

    .activite .article3 > div:not(:first-child)  h3{
        text-align: start;
    }


    .activite .article3 > div:nth-child(2) {
        margin-bottom: 75px;
    }

    /* images size */
    .activite .article3 > div:last-child > div:last-child {
        gap: 16px;
    }
    .activite .article3 > div:last-child > div:last-child img {
        width: calc(50% - 8px);}

    .activite .article4 > div:last-child {
        flex-direction: column;
    }  .activite .article4 > div:last-child p {
           width: 100%;
       }
}


@media screen and (max-width: 650px) {

    .activite .article3 > div:nth-child(2){
        flex-direction: column;
    }
    .activite .article3 > div:last-child{
        flex-direction: column-reverse;
    }
    .activite .article3 > div:not(:first-child)   {
        gap: 50px;
    }

    .activite .article3 > div:not(:first-child) > img ,    .activite .article3 > div:not(:first-child) > div{
        width: 100%;
    }

}
@media only screen and (max-width: 500px) {

    .activite .article2 .line1, .activite .article2 .line2 {
        flex-direction: column;
        gap: 34px;
    }
    .activite .article2 .line1 div, .activite .article2 .line2 div{
        width: 100% ;
    }
    .activite .article2 .line2 div {
        margin-bottom: 0;
    }

    .activite .article1 h3 {
        width: 71%;
    }
}