.boxContainerActivity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxActivity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 322px;
    height: 235px;
    padding: 15px;
    margin-block: 2vh;

    border-radius: 20px;

    color: rgba(0, 0, 0, .4);
    font-size: 34px;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.2s;
}

.activityPlusTitle {
    color: black;
    text-align: center;
    font-size: 32px;
}

.activitePlusList {
    font-size: 30px;
}

.activityColumns {
    padding-inline: 6vw;
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.activityImage {    width: 28%;
    margin-bottom: 47px;
    object-fit: contain;
}

@media all and (min-width: 1451px) {
    #activityPage .boxActivity {
        width: calc(100% / 5 - 20px);
    }

}

@media all and (max-width: 1450px) {
    #activityPage .boxActivity {
        width: calc(100% / 5 - 20px);
    }
}

@media all and (max-width: 1240px) {
    #activityPage .boxActivity {
        width: calc(100% / 5 - 10px);

        font-size: 30px;
    }

    .activityPlusTitle {
        font-size: 24px;
    }

    .activitePlusList {
        font-size: 20px;
    }
}

@media all and (max-width: 950px) {
    #activityPage .boxActivity {
        width: 225px;
        margin: 2vh 0;
    }
}

@media all and (max-width: 770px) {
    #activityPage .boxActivity {
        width: 275px;
        margin: 20px;
    }
    .activityImage {    width: 46%;

    }
}

@media all and (max-width: 760px) {
    #activityPage .boxActivity {
        width: 275px;
        margin: 2vh 0;
    }
}

@media all and (max-width: 720px) {
    #activityPage h3 {
        width: 500px;
    }
}

@media all and (max-width: 630px) {
    #activityPage .boxActivity {
        width: 225px;
        height: 225px;
    }
    .activityPlusTitle {
        font-size: 19px;
    }

    .activitePlusList {
        font-size: 16px;
    }
}

@media all and (max-width: 520px) {
    #activityPage h2 {
        font-size: 36px;
    }

    #activityPage a {
        font-size: 27px;
    }

    #activityPage img {

        width: 52px;
    }

    #activityPage .boxActivity {
        width: 200px;
        height: 200px;
    }
}

@media all and (max-width: 460px) {
    #activityPage h3 {
        width: 340px;
    }

    #activityPage .boxContainerActivity {
        flex-direction: column;
    }

    #activityPage .boxActivity {
        width: 48%;
        height: 150px;
        margin: 2vh auto;
        font-size: 25px;
    }

    #activityPage .boxActivity img {
        width: 50px;
        height: 64px;
    }


}

@media all and (max-width: 400px) {

    #activityPage a {
        font-size: 19px;
    }
}
