#animation .containerAnimations {
    position: relative;
}

#animation .animationBackgroundTop {
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 0%;

    width: 100vw;
    height: 50vh;

    background: #EBF5E5;
}

#animation .animationBackgroundBottom {
    position: absolute;
    z-index: -1;
    bottom: 0%;
    left: 0%;

    width: 100vw;
    height: 50vh;

    background: #F5C5C5;
}

#animation .whiteContainer {
    position: absolute;
    bottom: 0%;
    left: 50%;
    padding: 20px;
    transform: translateX(-50%);

    width: 80vw;
    height: 80vh;

    background: white;
    border-radius: 40px 40px 0px 0px;
}
#animation .whiteContainer .overflowVertical{
    height: 100%;

    padding-block: 13vh;
    padding-inline: 6vw;
    padding-bottom: 5vh;
}
/*==============  COMPONENT BOX =================*/
#animation .animationBoxContainer {
    padding-inline: 8%;
    padding-block: 16vh;
}

#animation .animationBox {
    margin-bottom: 20vh;
}
#animation .animationBox:last-child {
    margin-bottom: 0;
}
#animation .animationBox .flexRowBetween {
    width: 100%;
}
#animation .animationBox p { font-size: 28px; }
#animation .animationBox h2 {
    font-size: 48px;
    color: #D96F6F;
}

#animation .animationBox img {
    max-height: 37vh;
    max-width: 56vw;

    margin-left: 5%;
}

@media screen and (max-width: 1300px) {
    #animation .animationBox div {
        flex-direction: column-reverse;
    }

    #animation .animationBox img {
        margin: 30px auto;
    }
}

@media screen and (max-width: 700px) {
    #animation .overflowVertical, #animation .whiteContainer {
        width: 100vw;
    }
    #animation .whiteContainer {
        border-radius: 20px 20px 0 0;
    }
    
    #animation .animationBox h2 {
        font-size: 35px;
    }
    #animation .animationBox p {
        font-size: 22px;
    }
}
@media screen and (max-width: 450px) {
    #animation .animationBox img {
        min-width: 100%;
    }
}