#homePage #bigBox {
	width: calc(100vw - 10vh - 580px);
	height: 90vh;
	padding: 30px;
	margin: 5vmin;

	background-color: #D9ECFA;

	border-radius: 20px;
}

#homePage #smallBox {
	margin-top: 5vmin;
}

#homePage .leftBoxSection div {
	margin-left: 0;
}

#homePage h1 {
	color: var(--text-white);
}
#homePage h4 {
	color: var(--text-blue);
}

@media all and (max-width: 1200px) {
	#homePage #smallBox {
		height: calc(90vh - 5vmin);	
	}
	#homePage .box {
		width: 250px;
		height: auto;
	}
}

@media all and (max-width: 1024px) {
	#homePage {
		flex-direction: column;
	}

	#homePage #bigBox {
		width: 90vw;
	}

	#homePage #smallBox {
		text-align: center;
	}
	#homePage #smallBox img {
		margin: auto;
	}

	#homePage #smallBox > div {
		margin: auto;
	}

	#homePage #smallBox > div .box {
		width: 322px;
		height: 205px;
		margin: 20px;
	}
}

@media all and (max-width: 730px) {
	#homePage #smallBox > div .box {
		width: 270px;
		height: 150px;

		font-size: 20px;
	}
	#homePage #smallBox > div .box img {
		width: 75px;
	}
}

@media all and (max-width: 620px) {
	#homePage #smallBox > div .box {
		width: 240px;
		height: 130px;
	}
	#homePage #smallBox > div .box img {
		width: 75px;
	}
}

@media all and (max-width: 560px) {
	#homePage #smallBox > div {
		flex-direction: column;
	}

	#homePage #smallBox > div .box {
		width: 322px;
		height: 205px;
		margin: 20px;

		font-size: 30px;
	}
	#homePage #smallBox > div .box img {
		width: 100px;
	}
}


@media all and (max-width: 530px) {
	#homePage h2 {
		font-size: 40px;
	}
}

@media all and (max-width: 485px) {
	#homePage #smallBox > div {
		flex-direction: column;
	}
}

@media all and (max-width: 425px) {
	#homePage #bigBox h1 {
		font-size: 70px;
		line-height: 40px;
	}
	#homePage #bigBox h1 sub {
		font-size: 40px;
	}
}

@media all and (max-width: 350px) {
	#homePage #bigBox h1 {
		font-size: 50px;
		line-height: 30px;
	}
	#homePage #bigBox h1 sub {
		font-size: 30px;
	}
	#homePage #bigBox h4 {
		font-size: 25px;
	}
}