#homePage #bigBox {
	width: calc(100vw - 10vh - 580px);
	height: 90vh;
	padding: 30px;
	margin: 5vmin;

	background-color: #D9ECFA;

	border-radius: 20px;
}
#homePage #bigBox img{
    max-height: 75%;
    max-width: 100%;
    object-fit: contain;
    /* align-items: end; */
    align-self: end;
    border-radius: 30px !important;
    border: 7px solid white !important;
}

#homePage #smallBox {
	margin-top: 5vmin;
}
#smallBox .leftBoxSection{
	width: 50%;
}
#homePage .leftBoxSection div {
	margin-left: 0;
}

#homePage h1 {
	color: var(--text-white);

    margin-bottom: 38px;
}
#homePage h4 {
	color: var(--text-blue);
}

@media all and (max-width: 1200px) {
	#homePage #smallBox {
		height: calc(90vh - 5vmin);	
	}
	#homePage .box {
		width: 250px;
		height: auto;
	}
}

@media all and (max-width: 1024px) {
	#homePage {
		flex-direction: column;
	}

    #homePage h1 {

        line-height: 46px;
        font-size: 70px !important;
    }
    #homePage h1 sub{

        font-size: 45px;
    }
	#homePage #bigBox {
		width: 90vw;
        height: 79vh;

    }

	#homePage #smallBox {
		text-align: center;
	}
	#homePage #smallBox img {
		margin: auto;
	}

	#homePage #smallBox > div {
		margin: auto;
	}

	#homePage #smallBox > div .box {
		width: 322px;
		height: 205px;
		margin: 20px;
	}
}

@media all and (max-width: 730px) {
	#homePage #smallBox > div .box {
		width: 270px;
		height: 150px;

		font-size: 20px;
	}
	#homePage #smallBox > div .box img {
		width: 75px;
	}
}

@media all and (max-width: 620px) {
	#homePage #smallBox > div .box {
		width: 240px;
		height: 130px;
	}
	#homePage #smallBox > div .box img {
		width: 75px;
	}
}

@media all and (max-width: 560px) {
	#homePage #smallBox > div {
		flex-direction: column;
	}

	#homePage #smallBox > div .box {
		width: 322px;
		height: 205px;
		margin: 20px;

		font-size: 30px;
	}
	#homePage #smallBox > div .box img {
		width: 100px;
	}
}


@media all and (max-width: 530px) {
	#homePage h2 {
		font-size: 36px;
	}
	#homePage #smallBox{
		margin-bottom: 25px;
	}
	#homePage #smallBox > div{
		width: 94%;
	}	#homePage #smallBox > div> div{
		width: 50%;
	}
	#homePage #smallBox > div .box {
		width: 93%;
		margin: 0;
		margin-bottom: 10px;

		font-size: 24px;
	}
	#smallBox > div > div{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

@media all and (max-width: 485px) {
	#homePage #smallBox > div {
		flex-direction: row;
	}
}

@media all and (max-width: 425px) {
	#homePage #bigBox h1 {
		font-size: 70px;
		line-height: 40px;
	}
	#homePage #bigBox h1 sub {
		font-size: 40px;
	}
}

@media all and (max-width: 350px) {
	#homePage #bigBox h1 {
		font-size: 50px;
		line-height: 30px;
	}
	#homePage #bigBox h1 sub {
		font-size: 30px;
	}
	#homePage #bigBox h4 {
		font-size: 25px;
	}
}