@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=New+Tegomin&display=swap');

/* Variables */
:root {
	--text-white: #FFFFFF;
	--text-brown: #816F6F;
	--text-light-brown : #A09898;
	--text-dash :#5B5B5B;
	--text-blue: #B1CBDA;
}
/* --- Variables --- */
html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: "MuseoModerno", sans-serif;
}

a {
	text-decoration: none;
	color: var(--text-dash);
}

/* Basic classes */
.flexRow {
	display: flex;
	flex-direction: row;
}
.flexRowEnd {
	display: flex;
	flex-direction: row;
	justify-content: end;
}
.flexRowAround {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.flexRowBetween {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flexCol {
	display: flex;
	flex-direction: column;
}
.flexColAround {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.flexColBetween {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.gridCenter {
	display: grid;
	justify-content: center;
	align-items: center;
}
.alignCenter {
	align-items: center;
}
.h100 {
	height: 100vh;
}

/* --- Basic classes --- */

.containerMade {
	padding-inline: 5vw;
	padding-block: 5vh;
}
.centered{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.overflowVertical{
	overflow-x: hidden ;
overflow-y: scroll;
}
/* Titles */
h1 {
	font-size: 90px;
	line-height: 60px;
	font-weight: bold;
}
h1 sub {
	font-size: 60px;
}
h2 {
	color: var(--text-brown);
	font-size: 50px;
}
h3 {
	color: var(--text-light-brown);
	font-size: 32px;
}
h4 {
	font-size: 30px;
	font-weight: bold;
}

.backButton {
	font-family: "MuseoModerno", sans-serif;
	color: var(--text-dash);
	font-size: 34px;
	font-weight: bold;
}
.backButton img {
	padding-right: 10px;
}

/* --- Titles --- */

.box {
	width: 322px;
	height: 205px;
	padding: 15px;
	margin: 20px;

	border-radius: 20px;

	color: rgba(0, 0, 0, .4);
	font-size: 30px;
	font-weight: bold;

	cursor: pointer;
	transition: all 0.25s;
}
.box:hover {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
}

