.procedure section.top h1 {
    text-align: center;
}

.procedure section.top div {
    width: 100%;
}

.procedure section.top div p {
    width: 45%;
}

.procedure section.bottom {
    margin-top: 100px;
}

.procedure section.bottom ul {
    width: 70%;
    margin: auto;

    list-style: url("/list-type.svg");

    position: relative;
}

.procedure section.bottom ul:before {
    left: 24px;
    content: '';

    width: 1px;
    height: 100%;

    border-radius: 1px;

    background-color: var(--brown);

    position: absolute;

    z-index: 0;
}

.procedure section.bottom ul li {
    margin-top: 75px;
    padding-left: 50px;

    list-style-type: initial;

    position: relative;

    /*	z-index: 1;*/
}

.procedure section.bottom ul li h3 {
    padding-bottom: 10px;
}


@media only screen and (max-width: 850px) {

    .procedure section.bottom ul li h3 {
        text-align: start;
    }
}

@media only screen and (max-width: 500px) {

.procedure section.top div {
    flex-direction: column;
    gap: 25px;
}
.procedure section.top div p {
 width: 100%;
}
    .procedure section.bottom {
    margin-top:0
    }
    .procedure section.bottom ul {
        margin: 0;width: 85%;
    }
    .procedure section.bottom ul li {
        padding-left: 24px;
    }
}