.animations section.top {
    height: fit-content;
}

.animations section.top .images {
    gap: 30px;
}

.animations section.top .images > div {
    max-width: 100%;
    gap: 30px;
}

.animations section.top .images > div > div {
    width: calc(25% - ((30px * 3) / 4));
}

.animations section.top .images > div > div img {
    width: 100%;
}

.animations section.top .images img + p {
    width: 100%;
    padding-top: 10px;

    font-style: italic;

    text-align: center;
}

.animations section.bottom {
    margin-top: 100px;
}

.animations section.bottom > article > div {
    width: calc(50% - 30px);
}

.animations section.bottom article > div {
    gap: 30px;
}

.animations section.bottom article > div h3 {
    text-wrap: nowrap;
}

@media only screen and (max-width: 1000px) {

    .animations section.top .images > div {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px) {


    .animations section.bottom article > div h3 {
        text-align: start;
    }

    .animations section.bottom article {
        flex-direction: column;
        gap: 50px;
    }

    .animations section.bottom article div {
        width: 100%;
    }
}
@media only screen and (max-width: 750px) {
    .animations section.top .images > div > div {
        width: calc(50% - ((30px) / 2));
    }
}


@media only screen and (max-width: 328px) {
    .animations section.top .images > div {
        gap: 15px;
    }

.animations section.top .images {
    gap: 15px;
}
    .animations section.top .images > div > div {
        width: calc(50% - ((15px) / 2));
    }
}