@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

:root {
	/* Colors */
	--black: #0E0E0E;
	--grey: #606060;
	--white: #FEFEFE;

	--brown: #C7C2B3;
	--green: #D9FFD6;
	--blue: #D4E6FF;
	--violet: #F9D6FF;
	--red: #FFD6D9;
	--orange: #FFE3D6;
	--pink: #FDF3FF;

	--alpha-white: rgba(255, 255, 255, .5);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--white);
    width: 100vw;
}

body > div > div {
    width: 100%;
    color: var(--black);

	display: flex;
	flex-direction: column;
	align-items: center;

	overflow-x: hidden;
	text-align: justify;
}

/* Basic classes */
.flexRow {
	display: flex;
	flex-direction: row;
}

.flexRowAround {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flexRowBetween {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.flexColAround {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.flexColBetween {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.gridCenter {
	display: grid;
	justify-content: center;
	align-items: center;
}

/* --- Basic classes --- */

/* Basic tags */
section {
	width: 100vw;
}

article {
	width: 65vw !important;
	margin: auto !important;
}

img:not(img.icon) {
	border-radius: 10px;
}

ul {
	margin: 0;
	list-style-type: none;
}

footer {
	width: 100vw;
	height: fit-content;
	margin-top: 150px;
	padding: 75px 100px 10px 100px;

	box-sizing: border-box;

	background-color: var(--pink);
}

footer ul li {
	margin-block: 10px;
}

footer .contacts {
	margin-top: 100px;

	gap: 50px;

	flex-direction: row;
}

footer .contacts div ,footer .contacts a{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	color: var(--black);
}

footer .contacts img {
	padding-right: 10px;
	vertical-align: middle;
	display: inline;
	gap: 10px;
}

footer .contacts p {
	min-width: fit-content;
}

footer p {
	color: var(--grey);
	margin: 0;
	text-align: center;
}

footer hr {
	width: calc(100%);
	margin-left: 0;
	margin-block: 50px;

	border: 1px solid #858585;
	border-radius: 1px;
}


@media only screen and (max-width: 1000px) {

	footer > .contacts {
		flex-direction: column;
		align-items: start;
	}

	footer > div:first-child {
		flex-direction: column;
		gap: 20px;
	}

	footer > div:first-child ul {
		padding: 0;
	}

	footer > .contacts {
		gap: 20px;
	}
}

@media only screen and (max-width: 700px) {
	footer {

		padding: 75px 60px 10px 60px;

	}
}

@media only screen and (max-width: 500px) {
	footer {
		padding: 75px 30px 10px 30px;
	}
}

/* --- Basic tags --- */

/* Header */
header {
	display: flex;
	flex-direction: row;
	justify-content: end;

    position: relative;
    z-index: 50;
    width: 100vw;

	padding: 10px 30px;
    box-sizing: border-box;
}

header > svg {
	position: absolute;
	top: -10%;
	z-index: -2;
	display: flex;
	width: 100%;
	left: 0%;
}

header nav ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}
header nav ul .navLink{

	line-height: 50px;
	height: 50px;
	min-width: 50px;
}

header nav ul li a {
	color: var(--black);

	transition: .2s;
}
header nav ul li a:hover {
	color: var(--brown);
}

header nav ul li .point {
	width: 7px;
	height: 7px;

	border-radius: 50%;
	background: var(--black);
}

header .burgerContainer {
	display: none;
	flex-direction: row;
	justify-content: end;
	width: 100%;
}

header .burgerContainer > svg {
	height: 100%;
	object-fit: contain;
	border-radius: 0;
	filter: var(--black);
}

/* --- Header --- */


/* Menu */

.menu {
	background: #F9F5F5;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 50;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: space-between;

	padding: 30px;
	box-sizing: border-box;
	transition: bottom 0.3s;

	left: 0;
	bottom: 100%;
}


.menu ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	align-self: center;
}

.menu ul li .point {
	width: 7px;
	height: 7px;

	border-radius: 50%;
	background: var(--black);
}

/* --- Menu  --- */


/* Components */
/* For images */
.shade {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;

	background: rgba(0, 0, 0, 0.9);

	opacity: 0;

	pointer-events: none;

	position: fixed;

	z-index: 100;
}

.shade.open {
	opacity: 1;

	pointer-events: auto;
}
.zoomedImage {
	width: 80vw !important;
	height: 80vh !important;

	object-fit: contain !important;

/*	display: block;*/
}

.horizontalSeparator {
	width: 100%;
	margin-block: 150px;
}

.horizontalSeparator > div {
	width: 100%;
	height: 1.5px;
	margin: auto;

	background-color: var(--grey);

	border-radius: 3px;
}

.horizontalSeparator > h3 {
	min-width: fit-content;
	padding-inline: 30px;
}

@media only screen and (max-width: 1230px ) {
	.horizontalSeparator {

		margin-block: 100px;
	}
}

@media only screen and (max-width: 500px ) {
	.horizontalSeparator {
		margin-block: 150px 50px;
	}

}

/* --- Components --- */

/* Font sizes */
a {
	text-decoration: none;
	color: var(--black);
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-align: start;
}

h1 {
	font-size: 120px;
	font-family: "Baskervville", serif;
	font-weight: 400;
	font-style: normal;
	margin-block: 121px 160px;
}

h2 {
	font-size: 56px;
	font-family: "Baskervville", serif;
	font-weight: 400;
	font-style: normal;
}

h3 {
	font-size: 49px;
	font-family: "Baskervville", serif;
	font-weight: 400;
	font-style: normal;
}

.h3-italic {
	font-size: 33px;
	font-family: "Baskervville", serif;
	font-weight: 400;
	font-style: italic !important;
}

h4 {
	font-size: 76px;
	font-family: "Baskervville", serif;
	font-weight: 400;
	font-style: normal;
}

h5 {
	font-size: 52px;
	font-family: "Baskervville", serif;
	font-weight: 400;
	font-style: normal;
}

h6 {
	font-size: 30px;
	font-family: "Baskervville", serif;
	font-weight: 400;
	font-style: normal;

	color: var(--grey);
}

.md-text {
	font-size: 18px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.md-bold-text {
	font-size: 20px;
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-style: normal;
}

.sm-text {
	font-size: 15px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@media only screen and (max-width: 1500px) {
	h1 {
		font-size: 105px;
	}

    h3 {
        font-size: 41px;
    }


}

@media only screen and (max-width: 1230px) {
	h1 {
		font-size: 88px;
	}

	h2 {

		font-size: 58px;
	}

    h3 {
        font-size: 32px;
    }

	.h3-italic {
		font-size: 29px;
	}

	.md-text {

		font-size: 18px;
	}

	.md-bold-text {
		font-size: 18px;
	}

	article {

        width: 70vw !important;
    }


}

@media only screen and (max-width: 1000px) {
	h1 {
		font-size: 64px;
	}

	h2 {

		font-size: 44px;
	}

	h3 {
		font-size: 28px;
	}

	.h3-italic {
		font-size: 24px;
	}

	.md-text {

		font-size: 16px;
	}

	.md-bold-text {

		font-size: 16px;
	}
	article {

	width: 83vw !important;}

}

@media only screen and (max-width: 850px) {
	h1 {

		margin-block: 85px 96px;
	}

	h3 {
		text-align: center;
	}

	article {
		width: 80vw
	}
}

@media only screen and (max-width: 760px) {
	h3 {
		font-size: 22px;

	}


}

@media only screen and (max-width: 600px) {
    article {
        width: 90vw !important;
    }

	header nav {
		display: none;
	}

	header .burgerContainer {
		display: flex;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 40px !important;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 24px;
	}

	.h3-italic {
		font-size: 22px;
	}


	h4 {
		font-size: 47px;
	}

	h5 {
		font-size: 43px;
	}

	.md-text {
		font-size: 18px;
	}

	.sm-text {
		font-size: 16px;
	}

}

@media only screen and (max-width: 400px) {
	h1 {
		font-size: 35px !important;
	}

	.md-text {
		font-size: 16px;
	}
}

@media only screen and (max-width: 328px) {
	h1 {
		font-size: 31px !important;
	}
}

/* --- Font sizes ---*/
