@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

:root {
    /* Colors */
    --black: #0E0E0E;
    --grey: #606060;
    --white: #FEFEFE;

    --brown: #C7C2B3;
    --green: #D9FFD6;
    --blue: #D4E6FF;
    --violet: #F9D6FF;
    --red: #FFD6D9;
    --orange: #FFE3D6;
    --pink: #FDF3FF;

    --alpha-white: rgba(255, 255, 255, .5);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--white);
    color: var(--black);
}

/* Basic classes */
.flexRow {
	display: flex;
	flex-direction: row;
}
.flexRowAround {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.flexRowBetween {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flexCol {
	display: flex;
	flex-direction: column;
}
.flexColAround {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.flexColBetween {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.gridCenter {
	display: grid;
	justify-content: center;
	align-items: center;
}
/* --- Basic classes --- */

/* Basic tags */
section {
    width: 100vw;
}

article {
    width: 75vw;
    margin: auto;
}

img {
    border-radius: 10px;
}
/* --- Basic tags --- */

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: end;

    padding: 30px;
    box-sizing: border-box;
}

header nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    align-items: center;
}

header nav ul li .point {
    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: var(--black);
}
/* --- Header --- */

/* Components */
.horizontalSeparator {
	width: 100%;
	margin: 50px auto;
}
.horizontalSeparator > div {
	width: 100%;
	height: 1.5px;
	margin: auto;

	background-color: var(--grey);

	border-radius: 3px;
}
.horizontalSeparator > h3 {
	min-width: fit-content;
	padding-inline: 30px;
}
/* --- Components --- */

/* Font sizes */
a {
    text-decoration: none;
    color: var(--black);
}

h1 {
    font-size: 128px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: 64px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 49px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

.h3-italic {
    font-size: 33px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic !important;
}

h4 {
    font-size: 76px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

h5 {
    font-size: 52px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

h6 {
    font-size: 30px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

.md-text {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.md-bold-text {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.sm-text {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 29px;
	}

	.h3-italic {
		font-size: 24px;
	}

	h4 {
		font-size: 47px;
	}

	h5 {
		font-size: 43px;
	}
	.md-text{
		font-size: 18px;
	}
	.sm-text{
		font-size: 16px;
	}
}
/* --- Font sizes ---*/
