#contact .contactBackground {
    position: absolute;
    left: 0%;
    bottom: 0%;

    width: 80vw;
    height: 82vh;

    background: #E5C6FD;
    border-radius: 180px 180px 0px 0px;

    padding: 65px 200px 60px 150px;
}

#contact .contactBackground span {
    font-size: 27px;
    text-align: start;
    font-family: "MuseoModerno", sans-serif;
    font-weight: 600;
}

#contact .contactButton {
    text-align: center;
    font-size: 30px;
    color: #3B0961;

    background: #BE9FD6;

    border-radius: 64px;
    padding: 16px 100px;
    margin-block: 2vmin;

    font-weight: 600;
    font-family: "MuseoModerno", sans-serif;
}

#contact img.contactChristelImage1 {
    position: absolute;
    z-index: 1;
    top: 0%;

    right: 14%;
    max-height: 51.5vh;
    object-fit: cover;

    border-top: 0;
    border: 8px solid #E5C6FD;
    border-radius: 0px 0px 140px 140px;

}
#contact img.contactChristelImage2 {
    width: 100px;
}
#contact img.contactSalleImage1 {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    right: 2%;

    max-height: 51.5vh;
    object-fit: cover;

    border: 8px solid #E5C6FD;
    border-bottom: 0;
    border-radius: 140px 140px 0px 0px;
}

@media screen and (min-width: 1201px) {
    #contact img.contactChristelImage1, #contact img.contactSalleImage1 {
        visibility: visible;
        position: absolute;
    }
    #contact img.contactChristelImage2, #contact img.contactSalleImage2 {
        visibility: hidden;
        position: absolute;
    }
}
@media screen and (max-width: 1200px) {
    #contact .contactBackground {
        width: 100%;
        height: fit-content;
        border-radius: 40px;

        overflow-y: auto;
        position: relative;
    }
    #contact .contactBackground img.me-5 {
        width: 100px;
    }
    #contact .me-5 {
        width: 80px;
    }

    #contact img.contactChristelImage1, #contact img.contactSalleImage1 {
        visibility: hidden;
        position: absolute;
    }
    #contact img.contactChristelImage2, #contact img.contactSalleImage2 {
        visibility: visible;
        position: relative;
    }

    #contact img.contactChristelImage2 {
        margin: auto;
        width: 300px;
        height: 400px;
    }
    #contact img.contactSalleImage2 {
        margin: auto;
        width: 300px;
    }
}

@media screen and (max-width: 900px) {
    #contact .contactBackground {
        padding: 60px 50px 60px 50px;
    }

    #contact .mb-4 span {
        font-size: 20px;
    }

    #contact .mb-4 img.me-5 {
        width: 50px;
    }

    #contact .contactBackground a.contactButton {
        height: 50px;
        font-size: 20px;
        line-height: 20px;
    }

    #contact img.contactChristelImage2 {
        width: 200px !important;
        height: calc(400px * 2/3);
    }
    #contact img.contactSalleImage2 {
        width: 200px !important;
        height: calc(400px * 2/3);
    }
}